{erl_opts, [debug_info]}.

{port_env, [
    {"DRV_CFLAGS", "$DRV_CFLAGS -I./priv/tokyo-root/include -pedantic -std=c99 -O2"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -L./priv/tokyo-root/lib -Wl,-rpath ./priv/tokyo-root/lib -ltokyocabinet"}
]}.

{port_specs, [
    {"priv/libtoke.so", ["c_src/toke.c"]}
]}.

{pre_hooks, [
	{compile, "./priv/make_tokyo.sh"}
]}.
