{erl_opts, [debug_info]}.

{port_env, [
    {"DRV_CFLAGS", "$DRV_CFLAGS -Ideps/tokyocabinet -pedantic -std=c99 -O2"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -Ldeps/tokyocabinet -Wl,-rpath,'$ORIGIN' -ltokyocabinet"}
]}.

{port_specs, [
    {"priv/libtoke.so", ["c_src/toke.c"]}
]}.

{pre_hooks, [
	{compile, "scripts/make_tokyo.sh"},
    {clean, "scripts/clean_tokyo.sh"}
]}.
